[core]
	excludesfile = /Users/srajasimman/.gitignore
	excludesfile = ${HOME}/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim

[interactive]
	diffFilter = diff-so-fancy --patch

[user]
	name = Rajasimman S
	email = srajasimman@gmail.com
	signingkey = C59753B48268E920

[commit]
	gpgsign = true

[color]
	ui = auto

[github]
	user = srajasimman

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	default = upstream

[help]
	autocorrect = 1

[credential "https://github.com"]
	helper = 
	helper = !/Users/srajasimman/.nix-profile/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/srajasimman/.nix-profile/bin/gh auth git-credential

[includeIf "gitdir:/Users/srajasimman/Projects/rehlko/"]
        path = ~/.gitconfig-rehlko
